@page
@model ContososUniversity.Pages.AboutModel

@{
    ViewData["Title"] = "Student Body Statistics";
}

<h2>Student Body Statistics</h2>

<table>
    <tr>
        <th>
            Enrollment Date
        </th>
        <th>
            Students
        </th>
    </tr>

    @foreach (var item in Model.Student)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @item.StudentCount
            </td>
        </tr>
    }
</table>
<hr>
<div>
    <h3>Name: Kenneth Ato Brown</h3>
    <h3>Email: kenaking@blackstar.edu</h3>
    <h3>Phone: +233 50 107 6226</h3>
</div>