@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>BlackStar &#9733; University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to BlackStar</h2>
        <p>
            The BlackStar University is a prestigious institution dedicated to producing students who are abrest with modern trends in all sectors.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Into the Star &#9733;</h2>
        <p>Learn about the school's contribution to education, sports, and life.</p>
        <p>
            <a class="btn btn-default"
               href="https://docs.microsoft.com/aspnet/core/data/ef-rp/intro">
                Explore &raquo;
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Contact Us</h2>
        <p>Feel free to visit, email, or give us a call.</p>
        <p>
            <a class="btn btn-default"
               href="https://github.com/aspnet/Docs/tree/master/aspnetcore/data/ef-rp/intro/samples/cu-final">
                Contact Us &raquo;
            </a>
        </p>
    </div>
</div>